@charset "UTF-8";
.footer {
	padding-top: 18px;
	padding-bottom: 0px;
}
header {
	background-color: #FFFFFF;
}
hr {
}
.btn.btn-success {
	margin-right: 80px;
	background-color: #FDD129;
}
.btn-success {
	background-color: #FDD129;
	
}

a img {
	margin-top: -12px;
}
nav li a {
	color: #FFFFFF;
}
.container {
	padding-top: 2px;
}
.nav.navbar-nav .active a {
	background-color: #FFFFFF;
	color: #000000;
}
.container1 {
	margin-right: auto;
	margin-left: auto;
}
a .img-responsive {
	float: right;
	margin-right: auto;
	margin-top: 3px;
	padding-left: 5px;
}

#footer {
	background-color: #4D4D4F;
	color: white;
	text-align: center;	/*
	height: 110px;
	bottom: 0;
	position: absolute;
	width: 100%;
	*/
}

.navbar.navbar-inverse.navbar-static-top {
	height: 50px;
	background-color: #4D4D4F;
}
#social {
	padding-bottom: 10px;
	padding-top: 10px;
	width: 658px;
	margin-left: auto;
}
.navbar.navbar-default.navbar-static-top {
	background-color: #4D4D4F;
}
#footer .container .footer-block {
	text-align: center;
}
#container.pull-right {
	text-align: center;
}
h3 {
}
h1 {
	font-size: 40px;
}
.navbar-form.navbar-right a .btn.btn-success {
	background-color: #FDD129;
}
.nav.navbar-nav li a:hover {
	background-color: transparent;
}

#navbar .nav.navbar-nav a:hover {
	background-color: transparent;
	color: #FFFFFF;
}

a:focus, a:hover a {
	text-align: left;
	color: #4D4D4F;
}
.col-md-3 .footerNav a {
}
.col-md-5.nav .footerNav a {
	color: #FFFFFF;
}
.footerNav.col-md-3 a:hover a.focus {
	color: #FFFFFF;
}
ul li a {
	color: #FFF;
}
.row .col-md-3 img {
	margin-top: 10px;
}
.navbar-form.navbar-right a:focus.a:hover {
	background-color: #FDD129;
}
.row .col-md-5.nav ul {
}
.row .col-md-3 .footerNav a:hover {
	color: #FFFFFF;
}
.navbar-form.navbar-right a {
	color: #4D4D4F;
}

@media screen and (min-width:767px){
}

@media screen and (max-width:768px){
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

@media screen and (max-width:600px){
	.wide { display: none;}
}