body {
	/* [disabled]padding-top: 50px; */
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
  .mastfoot {
	position: fixed;
	bottom: 0;
	text-align: center;
  }
  .mastfoot {
  color: #000; /* IE8 proofing */
  color: #000;


footer  {
	background-color: #FFD400;
}
.container1 hr {
	background-color: #FFD400;
}
